HeaderFilterRegex: '^(src|include|runtime|tests|tools|examples)/.*' 
Checks: >
  -*,
  clang-diagnostic-*,
  clang-analyzer-*,
  -clang-analyzer-security.insecureAPI.DeprecatedOrUnsafeBufferHandling,
  bugprone-*,
  -bugprone-easily-swappable-parameters,
  -bugprone-reserved-identifier,
  misc-*,
  -misc-include-cleaner,
  -misc-no-recursion,
  -misc-unused-parameters,
  -misc-const-correctness,
  readability-identifier-naming,
  readability-braces-around-statements,
  readability-else-after-return,
  readability-misleading-indentation,
  readability-redundant-preprocessor,
  readability-simplify-boolean-expr,
  concurrency-*,
  portability-*

CheckOptions:
  - key:             readability-identifier-naming.TypedefCase
    value:           CamelCase
  - key:             readability-identifier-naming.StructCase
    value:           CamelCase
  - key:             readability-identifier-naming.UnionCase
    value:           CamelCase
  - key:             readability-identifier-naming.EnumCase
    value:           CamelCase
  - key:             readability-identifier-naming.EnumConstantCase
    value:           UPPER_CASE
  - key:             readability-identifier-naming.FunctionCase
    value:           lower_case
  - key:             readability-identifier-naming.VariableCase
    value:           lower_case
  - key:             readability-identifier-naming.ParameterCase
    value:           lower_case
  - key:             readability-identifier-naming.MemberCase
    value:           lower_case
  - key:             readability-identifier-naming.GlobalVariableCase
    value:           lower_case
  - key:             readability-identifier-naming.GlobalVariablePrefix
    value:           g_
  - key:             readability-identifier-naming.GlobalConstantCase
    value:           UPPER_CASE
  - key:             readability-identifier-naming.MacroDefinitionCase
    value:           UPPER_CASE
  - key:             readability-identifier-naming.IgnoreMainLikeFunctions
    value:           1